
# python code style check
pep8==1.7.0

# python code style auto formate
autopep8==1.3.2

# web framework
Django==1.11.3

# driver for orientdb
pyorient==1.5.5

# config
oslo.config==4.11.0

# WSGI Server
tornado==4.5.1
